<h1><%= @user.name %></h1>
<%= link_to "Add Workout", new_workout_path %>
<%= link_to "Edit Profile", edit_user_path(@user) %>

<h3>Workouts</h3>
<ul>
    <% @workouts.each do |l| %>
    <li><%= link_to l.name, workout_path(l.id) %></li>
    <% end %>
</ul>

