@import "font-awesome";
@import "bootstrap";

body {
    background: #3C3C3C;
   
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.btn-primary {
    background: #3cd29c;
    border-color: #3cd29c;
    &:hover, &:active {
      background:  #2FA97D;
      border-color: #2FA97D;
    }
}

.fa-times {
    color:black;
    &:hover, &:active {
        color:red;
    }
}

.fa-pencil {
    color: #B9B9B9;
    &:hover, &:active {
        color: #DFDFDF;
    }
}

.card {
    background: #AAAAAA;
}

