@import "font-awesome";
@import "bootstrap";

body {
    background: #3C3C3C;
   
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.btn-primary {
    background: #3cd29c;
    border-color: #3cd29c;
    &:hover, &:active {
      background:  #2FA97D;
      border-color: #2FA97D;
    }
}

.card {
    background: #CFCFCF;
}

